@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --color1: rgb(255, 211, 66);
    --color2: white;
    --color3: #2f4b8d;   
}

h1, h2, h3, h4, h5{
    font-family: 'PT Sans', sans-serif;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.navbar-inverse .navbar-brand{
    color:var(--color3);
}

.navbar-inverse{
    background-color:var(--color1);
    color:var(--color2);
    border-color:var(--color2);
}

.btn-primary{
    margin-top: 5px;
    padding-top: 10px;
    background-color:var(--color1);
    color:var(--color3);
    border-color:var(--color2);
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.navbar-inverse .navbar-nav>li>a{
    color:var(--color3);
}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(255, 255, 255, .5);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.pages{
    padding-top: 150px;
    padding-bottom: 100px;
}